:root {
  --mainblue: rgb(9, 9, 106);
  --skyblue: rgb(248, 248, 251);
  --skyblue2: rgba(193, 202, 220, 0.568);
  --fairblue: rgb(30, 51, 128);
  --white: rgba(255, 255, 255, 0.411);
  --lightblue: rgb(110, 172, 253);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--skyblue);
  color: var(--mainblue);
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--mainblue);
  padding: 0.5rem;
  z-index: 1;
  margin: 0;
}
.navbar_list {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10%;
  margin: 0 4% 0 4%;
  /* background-color: yellow; */
  align-items: center;
  list-style-type: none;
  padding: 0.5rem;
}
.navbar_link {
  color: white;
  text-decoration: none;
}
.default {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.styledbutton {
  position: absolute;
  display: flex;
  right: 0;
  border: 1px solid var(--lightblue);
  border-radius: 0.6rem;
  padding: 0.4rem;
  color: var(--lightblue);
  word-spacing: -0.25rem;
  transition: all 0.2s linear;
}
.styledbutton li {
  display: inline-block;
}
.styledbutton:hover {
  color: var(--mainblue);
  background-color: var(--lightblue);
}
.styledbutton i {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-right: 0.5rem;
}
.products {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 7rem 0 3rem 0;
}
.products-search {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
  border-radius: 1rem;
  /* background-color: white; */
  /* background-color: firebrick; */

  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: yellow;
  text-align: center;
  color: aliceblue;
  z-index: 1; */
}
.search {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 30rem;
  /* background-color: blue; */
}
.search input {
  width: 100%;
  outline: 1px solid rgba(152, 147, 180, 0.4);
  border: none;
  font-size: 1rem;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 1rem;
  color: var(--mainblue);
}
.search button {
  position: absolute;
  right: 0rem;
  top: 0;
  bottom: 0;
  width: 15%;
  outline: none;
  border: none;
  color: rgba(152, 147, 180, 0.8);
  background-color: rgb(255, 255, 255);
  padding: 0;
  border-radius: 0 1rem 1rem 0;
}
.products-search:hover {
  box-shadow: 0 2px 0.5rem rgba(152, 147, 180, 0.424);
}
.products-search-new {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 0.5rem rgba(152, 147, 180, 0.424);
}
.products-search-new input {
  border-radius: 1rem 1rem 0 0;
}
.search input::placeholder {
  font-weight: lighter;
  font-style: italic;
}
.search-suggestion {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  z-index: 1;
}
.search-suggestion div {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  margin: 0;
}
.search-suggestion p {
  color: var(--mainblue);
  vertical-align: middle;
  text-align: left;
  padding: 0.4rem 1.4rem;
  /* background-color: rgb(109, 57, 57); */
}
.search-suggestion p:nth-child(1) {
  border-top: 1px solid rgba(152, 147, 180, 0.4);
}
.search-suggestion p:hover {
  background-color: rgba(0, 0, 0, 0.096);
}
#remove_searchinput {
  position: absolute;
  right: 15%;
  border-radius: 0;
  width: 5%;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}
#notfound {
  color: var(--mainblue);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-variant: small-caps;
  font-style: italic;
  font-family: cursive;
}
.products-pagination {
  width: 80%;
  margin-top: 5rem;
}
.product-container {
  /* position: relative; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 3rem;
}
.product {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  height: 14rem;
  background-color: rgb(255, 255, 255);
  color: rgb(9, 9, 106);
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 4px rgba(240, 239, 243, 0.631),
    0px 0px 4px rgba(218, 188, 215, 0.467);
  border-radius: 7px;
  transition: all 0.5s linear;
}
.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: black;
  background-color: green;
  overflow: hidden;
}
.main-product {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 10rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
}
.product:hover {
  box-shadow: 0px 0px 14px rgba(240, 239, 243, 0.631),
    0px 0px 14px rgba(218, 188, 215, 0.467);
}
.product:hover .product-image img {
  width: 7rem;
}
.product:hover .cart-icon {
  right: 0;
  bottom: 0;
}
.product-image {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-image img {
  width: 5rem;
  border-radius: 3rem;
  transition: all 0.5s linear;
}
.product-info {
  position: relative;
  width: 70%;
  padding: 1.3rem;
}
.product-name {
  position: absolute;
  bottom: 0.5rem;
  left: 0rem;
  font-size: 1.3rem;
}
.product-price {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  font-size: 1.3rem;
}
.cart-icon {
  position: absolute;
  font-size: 1.3rem;
  right: -2rem;
  bottom: -2rem;
  background-color: var(--lightblue);
  color: white;
  padding: 0.4rem;
  border-top-left-radius: 0.5rem;
  transition: all 0.5s linear;
}
.incart {
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  right: -5rem;
}
.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: cursive;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--mainblue);
  font-weight: bolder;
}
#search {
  /* font-weight: lighter;
  font-style: italic; */
  /* margin-top: 2em;
  width: 15em;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0 0 0.1rem var(--mainblue); */
}
/* #submit {
  border: none;
  height: 2.6em;
  background-color: rgb(230, 230, 247);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0 0 0.1rem var(--mainblue);
} */
p {
  margin: 0px;
}
img {
  width: 70px;
}
.pagination {
  display: flex;
  flex-flow: row wrap;
  column-gap: 0.5rem;
  margin-top: 2rem;
  justify-content: center;
}
.pagination button {
  color: var(--mainblue);
  font-weight: bold;
  font-size: 1rem;
  list-style-type: none;
  background-color: var(--skyblue);
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 4px var(--mainblue);
}
.pagination button:hover {
  background-color: var(--fairblue);
  color: var(--skyblue);
}
.pagination-button:focus {
  background-color: var(--mainblue);
  color: var(--skyblue);
}
.product_details {
  display: flex;
  flex-flow: column nowrap;
  margin: 7rem 0 3rem 0;
  padding: 0;
  align-items: center;
  vertical-align: middle;
  font-size: 1rem;
}
.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-flow: row wrap;
  column-gap: 1rem;
  margin-top: 4rem;
}
.details_image {
  margin: 2rem;
}
.details_image img {
  width: 100%;
  max-width: 18rem;
}
.details_desc {
  display: flex;
  flex-flow: column;
  row-gap: 1.5rem;
  margin: 1rem;
  font-family: sans-serif;
  max-width: 30rem;
  padding: 1rem;
  background-color: var(--white);
  /* box-shadow: 0 0 8px var(--skyblue2); */
  border-radius: 1rem;
}
.details_list {
  display: inline-flex;
  font-size: 1.2rem;
  margin-right: 1rem;
  font-family: cursive;
}
.details_list + p {
  display: inline-flex;
  text-align: justify;
  font-family: cursive;
}
#item {
  text-transform: capitalize;
  font-size: 1.3rem;
}
.tocart {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 30rem;
}
.tocart button {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  text-align: right;
  width: 100%;
  max-width: 10rem;
  text-transform: capitalize;
}
.tocart .link {
  text-decoration: none;
}
.tocart button:nth-child(2) {
  color: orange;
  border: 1px solid orange;
}
.tocart button:nth-child(2):hover {
  background-color: orange;
  color: white;
}
.cartpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 7rem 0 3rem 0;
}
.cartheader {
  display: none;
  flex-flow: row nowrap;
  font-size: 1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
  width: 100%;
}
.cartheader > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 1rem;
  padding: 1rem;
  width: 80%;
}
.cartdetails {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.cartdetails > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  height: auto;
  margin: 2rem;
  font-size: 1.3rem;
  font-family: cursive;
  font-variant: small-caps;
  color: var(--mainblue);
}
.cartdetails img {
  border-radius: 2rem;
  max-width: 8rem;
}
.cartdetails button {
  font-size: 1.3rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.2rem solid var(--mainblue);
  border-radius: 0.2rem;
  margin: 0.3rem;
  background-color: white;
}
.deleteIcon {
  font-size: 2rem;
  color: orange;
}
.cart_summary {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
  font-family: cursive;
  text-transform: uppercase;
  width: 15rem;
  margin: 2rem 0 0 0;
  margin-right: 10%;
}
.cart_summary > div {
  float: right;
  width: max-content;
  margin: 0.3rem;
}
.cart_summary button {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 10rem;
  height: 2.5rem;
  color: rgba(219, 14, 65, 0.678);
  border: 2px solid rgba(219, 14, 65, 0.678);
  border-radius: 0.5rem;
  transition: all 0.5s linear;
}
.clearcart:hover {
  background-color: rgba(219, 14, 65, 0.678);
  color: var(--skyblue);
}
.clearcart:focus {
  background-color: rgba(219, 14, 65, 0.335);
}
.checkout button {
  background-color: rgb(247, 212, 15);
  border: none;
  border-radius: 3rem;
  color: var(--mainblue);
  font-size: 1rem;
  height: 2rem;
  text-transform: capitalize;
  box-shadow: 0 0 0.5rem var(--mainblue);
}
.checkout button:hover {
  background-color: rgb(214, 184, 13);
}
.checkout button:focus {
  background-color: rgba(247, 212, 15, 0.52);
}
.checkout i {
  font-size: 1.2rem;
}
.checkout i:nth-child(2) {
  font-size: 1.3rem;
}
@media screen and (max-width: 699px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
  .products-search {
    max-width: 20rem;
  }
}
@media screen and (max-width: 300px) {
  .products-search {
    max-width: 15rem;
  }
}
@media screen and (max-width: 350px) {
  .styledbutton li {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .cartdetails > div {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    justify-content: center;
    column-gap: 1rem;
  }
  .cart_element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: auto;
    text-align: center;
  }
  .cartdetails span {
    display: none;
  }
  .cartheader {
    display: flex;
  }
}
